{% extends "base.html" %}
{% block content %}
<div id="mainNav" class="container-fluid true">
    <div class="row justify-content-center">
        <div class="col col-sm-10 pt-4">
            <section class="section-home">
                <div class="row justify-content-center">
                    {% with messages = get_flashed_messages(category_filter=["log-info"]) %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="col-10 col-sm-8 col-md-6 text-center">
                                <div class="flash-info">
                                    <h2><i class="fas fa-sign-out-alt"></i> {{ message | safe }}</h2>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["error-404"]) %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="col-12 col-md-8 col-lg-6 text-center">
                                <div class="flash-404-error">
                                    <h2><i class="fas fa-exclamation-circle"></i>{{ message | safe }}</h2>
                                    <p>Whoops, it looks like you are looking for a page that does not exist.</p>
                                    <p>Return to the <a href="{{'home'}}">HOME</a> and continue your browsing!</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["error-500"]) %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="col-12 col-md-8 col-lg-6 text-center">
                                <div class="flash-404-error">
                                    <h2><i class="fas fa-exclamation-circle"></i>{{ message | safe }}</h2>
                                    <p>Whoops, it looks like you are looking for a page that does not exist.</p>
                                    <p>Return to the <a href="{{'home'}}">HOME</a> and continue your browsing!</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}   




                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}