{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-life">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6">
                                <h1>LIFE</h1>
                                <div class="intro-life">
                                    <p><strong>Beauty, culture, great craic, and plenty to do!</strong></p>
                                    <p>There’s always craic to be had, and you’re never more than a stone’s throw away from nature.</p>
                                    <p><strong>But first, let's cover the essentials!</strong></p>
                                    <p>
                                        In this section, we cover some most important factors for a fresh start on a
                                        <strong>"GREEN ISLAND"</strong>.
                                        We have a source for you some of the most popular rental websites, mobile operators
                                        and grocery shops for your quick and easy search!
                                    </p>
                                    <p><strong>Let's dig in...</strong></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 p-4">
                                <div id="my-carousel" class="carousel slide carousel-fade" data-ride="carousel"
                                    data-interval="2000">
                                    <div class="carousel-inner gal-img">
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/life-gal-01.png')}}" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/life-gal-02.png')}}" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/life-gal-03.png')}}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/life-gal-04.png')}}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/life-gal-05.png')}}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/life-gal-06.png')}}" alt="Third slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="sub-h2">ACCOMMODATION</h2>
                    </div>
                    <div class="col-12 col-lg-10 cards-wrap p-0">
                        <div id="Card1" class="wrap">
                            <a class="card-link-fav rent_fav" href="https://www.rent.ie/" target="_blank"><strong>Rent.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/rent.png')}}" class="img-fluid" alt="Rent">
                            </div>
                            <button id="showLinks1" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                Rent.ie was launched in November 2008.
                                Our aim is to provide the fastest, easiest-to-use
                                and most up-to-date rental website in the marketplace
                            </p>
                            <div class="showLinks1-grid hideLinks1-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.rent.ie/rooms-to-rent/" target="_blank" class="q-links a">SHARE</a>
                                    <a href="https://www.rent.ie/short-lets/" target="_blank" class="q-links a">SHORT LETS</a>
                                    <a href="https://www.rent.ie/student-accommodation/" target="_blank" class="q-links">STUDENTS</a>
                                    <a href="https://www.rent.ie/holiday-homes/" target="_blank" class="q-links">HOLIDAY HOMES</a>
                                </div>
                                <button id="hideLinks1" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card2" class="wrap">
                            <a class="card-link-fav let_fav" href="https://www.let.ie/" target="_blank"><strong>Let.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/let.png')}}" class="img-fluid" alt="Let">
                            </div>
                            <button id="showLinks2" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                Let.ie lists the widest selection of properties to let in Ireland.
                                The website has 4,920 properties online, with thousands more added on a daily basis.
                            </p>
                            <div class="showLinks2-grid hideLinks2-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.let.ie/short-term-rental/" class="q-links a" target="_blank">SHORT</a>
                                    <a href="https://www.let.ie/holiday-homes/" class="q-links a" target="_blank">HOLIDAY</a>
                                    <a href="https://www.let.ie/" class="q-links a" target="_blank">RENT</a>
                                    <a href="https://www.let.ie/commercial-property/" class="q-links" target="_blank">PROPERTY</a>
                                </div>
                                <button id="hideLinks2" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card4" class="wrap">
                            <a class="card-link-fav daft_fav" href="https://www.daft.ie/" target="_blank"><strong>Daft.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/daft-ie.png')}}" class="img-fluid" alt="Daft">
                            </div>
                            <button id="showLinks4" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                Founded in 1997 by brothers Eamonn and Brian Fallon.
                                Daft.ie is the number one destination for property searchers and connects property in
                                Ireland!
                            </p>
                            <div class="showLinks4-grid hideLinks4-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.daft.ie/homes-to-rent" class="q-links a" target="_blank">RENT</a>
                                    <a href="https://www.daft.ie/rooms-to-rent" class="q-links a" target="_blank">SHARE</a>
                                    <a href="https://www.daft.ie/property-for-sale/ireland/apartments" class="q-links a" target="_blank">APP BUY</a>
                                    <a href="https://www.daft.ie/commercial-property" class="q-links a" target="_blank">TO LEASE</a>
                                </div>
                                <button id="hideLinks4" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>

                    </div>
                </div>



            </section>
        </div>
    </div>
</div>

{% endblock %}