{% extends "base.html" %}
{% block content %}
<div id="mainNav" class="container-fluid true">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-home">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10">
                        <div class="container-fluid p-0">
                            <div class="row justify-content-center text-center">
                                <div class="col-12 col-lg-6 reg-form">
                                    <div class="col-12 text-left">
                                        {% with messages = get_flashed_messages(category_filter=["reg-danger"]) %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                <div class="flash-danger">
                                                    <h2><i class="fas fa-exclamation"></i> {{ message | safe }}</h2>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <h2>Already a member!?</h2>
                                    <p>Enter your login details:</p>

                                </div>


                            </div>
                        </div>
                        <div class="row quote-borders p-2 mtt"></div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}