{% extends "base.html" %}
{% block content %}
<div id="mainNav" class="container-fluid true">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-home">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-6 text-left">
                                <div class="row justify-content-center p-0 m-0 ">
                                    <div class="col-12 col-sm-10 col-md-10">
                                        {% with messages = get_flashed_messages(category_filter=["reg-success"]) %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                <div class="flash-success text-center">
                                                    <h2><i class="fas fa-child"></i> {{ message | safe }}</h2>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </div> 
                                </div>

                                
                            </div>

                        </div>
                        <div class="row quote-borders p-2 mtt"></div>

                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-profile" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete-profile" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content delete-profile-modal">    
            <div class="modal-body">
                <div class="container-fluid p-0">
                    <div class="row justify-content-center text-center">
                        <div class="col-12 col-sm-8">
                            <h2>Are you sure you want to delete your profile</h2>
                            <a class="delete-btn" href="{{ url_for('delete_user', username=session.user) }}">YES</a>
                            <a href="#" class="no-btn" data-dismiss="modal">NO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}