{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-life">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 search-result-wrap">
                        <h2 class="text-center">Your search result...</h2>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>
{% endblock %}