{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-life">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 search-result-wrap">
                        <h2 class="text-center">Your search result...</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8">
                        <div class="search-result-wrap text-center">
                            <a href="{{ url_for('tips') }}" class="again-btn">RESET</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row justify-content-center footer-line">
                            <div class="col-4 l"></div>
                            <div class="col-2 g"></div>
                            <div class="col-4 l"></div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        {% if tips|length > 0 %}
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    

                                    <div class="row d-none d-md-block">
                                        <div class="col-12">
                                            <div class="row justify-content-between">
                                                <div class="col-5 p-2 sub-section-border"></div>
                                                <div class="col-5 p-2 sub-section-border"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12">
                                    
                                </div>
                            </div>
                        {% else %}
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-8 col-lg-4">
                                    <div class="serch-tips-wrap text-center">
                                        <h2 class="no-results"><i class="fas fa-exclamation-triangle"></i> No result found!</h2>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}