{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-life">

            </section>
        </div>
    </div>
</div>
<script  src="{{ url_for('static', filename='js/markerclusterer_compiled.js') }}"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDadfKOCQK6Iu6tBeOXDAvZp5071lP8Us0&callback=initMap"></script>
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>
{% endblock %}
