{% extends "base.html" %}
{% block content %}
<div id="mainNav" class="container-fluid true">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-home">
                <div class="row justify-content-center">
                    

                    <div class="col-12 col-sm-10 intro-pitch">
                        <div class="row justify-content-center pitch-wrap">
                            <div class="col-12 col-lg-6 ">
                                <h4>HELLO PEOPLE</h4>
                                <h1>If you watch</h1>
                                <p><span class="font-italic"><strong>"The Hobbit: An Unexpected Journey"</strong></span>
                                    you will understand,
                                    if not, we highly recommended to
                                    watch the film or read a book...both rocks!
                                </p>
                                <p>
                                    <strong>Now, on to business!</strong><br>
                                    If you are planing or even
                                    considering moving to Ireland, this is an awesome
                                    starting point for you!
                                </p>
                                <p>
                                    Here you can find some key info when you're planing your
                                    <strong>Irish Adventure...</strong>
                                </p>
                                <p>
                                    If you scroll down, you will see
                                    3 main sections that you need to make this happen nice and smooth...<br>
                                    <strong>Let's roll . . .</strong>
                                </p>
                            </div>
                            <div class="col-12 col-lg-6 composition mt-4">
                                <img src="{{ url_for('static', filename='images/galery-01.png')}}" class="comp-photo o" alt="Gallery 01">
                                <img src="{{ url_for('static', filename='images/galery-02.png')}}" class="comp-photo t" alt="Gallery 02">
                                <img src="{{ url_for('static', filename='images/galery-03.png')}}" class="comp-photo te" alt="Gallery 03">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}